:root {
  --color-primary: #333333;
  --color-secondary: #ffffff;
  --color-tertiary: #d4af37;
  --color-quaternary: #003366;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--color-primary);
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  color: var(--color-secondary);
  background-color: var(--color-quaternary);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 100;
  font-size: 1.8rem;
  height: 3.5rem;
  width: 15rem;
}

ul, li {
  list-style: none;
}

.pagination-ul {
  display: flex;
}