.container-search {
    display: flex;
    margin-top: 2rem;
}

h4 {
    color: var(--color-white);
    font-family: cursive;
    font-weight: 100;
    margin: 2rem 10rem;
}

.search {
    height: 4rem;
    text-align: center;
    width: 60rem;
}

.button {
    background-color: orange;
    border: none;
    border-radius: 0 1rem 1rem 0;
    color: var(--color-white);
    font-family: cursive;
    font-size: 3rem;
    font-weight: 700;
    height: 4rem;
    text-align: center;
}

.error {
    color: red;
}

.container-transactions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transaction {
    align-items: flex-start;
    display: flex;
    background-color: var(--color-secondary);
    border-radius: 2rem;
    flex-direction: column;
    padding: 4rem;
    margin-top: 1.4rem;
}

p {
    color: var(black);
    font-family: cursive;
    font-size: 1.4rem;
}

.pagination-btn {
    background-color: orange;
    color: var(--color-white);
    font-family: cursive;
    font-size: 3rem;
    font-weight: 700;
    height: 4rem;
    margin: 1rem 1rem;
}

.graphs-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
}

.graph-transaction {
    flex: 1;
    margin: 0 1rem;
}

.graph-pie {
    flex: 2;
    position: relative;
    max-width: 60rem;
}

.graph-pie .chartjs-legend {
    position: absolute;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid orange;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 1.7s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:1281px) {
    h4 {
        margin: 2rem 5rem;
    }
    .search {
        width: 50rem;
    }
    .button {
        font-size: 2rem;
        width: 14rem;
    }
}
@media (max-width:1025px) {
    h4 {
        margin: 2rem 3rem;
    }
    .search {
        width: 35rem;
    }
    .button {
        font-size: 1.7rem;
        width: 12rem;
    }
}
@media (max-width:801px) { 
    h4 {
        font-size: 1.2rem;
        margin: 2rem 1.5rem;
    }
    .search {
        width: 28rem;
    }
    .button {
        font-size: 1.7rem;
        width: 10rem;
    }
}
@media (max-width:600px) {
    .container-search {
        align-items: center;
        flex-direction: column;
    }

    h4 {
        font-size: 1.6rem;
        margin: 2rem 1.5rem;
    }
    .search {
        width: 28rem;
    }
    .button {
        font-size: 1.7rem;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 14rem;
    }
}
@media (max-width:480px) {
    h4 {
        font-size: 1.4rem;
        margin: 2rem 1.5rem;
    }
    .search {
        width: 25rem;
    }
    .button {
        font-size: 1.7rem;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 12rem;
    }
}
@media (max-width:320px) {
    h4 {
        font-size: 1.4rem;
        margin: 2rem 1.5rem;
    }
    .search {
        width: 24rem;
    }
    .button {
        font-size: 1.7rem;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 12rem;
    }
}