.container-search {
    display: flex;
    margin-top: 2rem;
}

h4 {
    color: var(--color-white);
    font-weight: 100;
    margin: 2rem 10rem;
}

.search {
    height: 4rem;
    text-align: center;
    width: 60rem;
}

.button {
    background-color: orange;
    border: none;
    border-radius: 0 1rem 1rem 0;
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 700;
    height: 4rem;
    text-align: center;
}

.error {
    color: red;
}

.container-transactions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transaction {
    align-items: flex-start;
    display: flex;
    background-color: var(--color-secondary);
    border-radius: 2rem;
    flex-direction: column;
    padding: 4rem;
    margin-top: 1.4rem;
}

p {
    color: var(black);
    font-size: 1.4rem;
}

.pagination-btn {
    background-color: orange;
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: 700;
    height: 4rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    width: 6rem;
}

.graphs-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
}

.graph-transaction {
    flex: 1;
    margin: 0 1rem;
    max-width: 100%;
    min-height: 45rem;
}

.graph-pie {
    flex: 2;
    position: relative;
    min-height: 30rem;
    max-width: 50rem;
}

.graph-pie .chartjs-legend {
    position: absolute;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid orange;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 1.7s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:1281px) {
    h4 {
        margin: 2rem 5rem;
    }
    .search {
        width: 50rem;
    }
    .button {
        font-size: 2rem;
        width: 14rem;
    }

    .graphs-items {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .graph-transaction {
        margin: 0 1rem;
    }
    
    .graph-pie {
        max-width: 50rem;
    }
}

@media (max-width:1025px) {
    h4 {
        margin: 2rem 3rem;
    }
    .search {
        width: 35rem;
    }
    .button {
        font-size: 1.7rem;
        width: 12rem;
    }

    .graph-transaction {
        display: block;
        height: auto;
        width: 100%;
    }
    
    .graph-pie {
        max-width: 50rem;
    }
}
@media (max-width:801px) { 
    h4 {
        font-size: 1.2rem;
        margin: 2rem 1.5rem;
    }
    .search {
        width: 28rem;
    }
    .button {
        font-size: 1.7rem;
        width: 10rem;
    }

    .transaction {
        padding: 2rem;
        margin-top: 1.4rem;
        width: 55rem;
    }

    .transaction p {
        font-size: 1.1rem;
    }

    .pagination-ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
    }

    .pagination-btn {
        font-size: 1.7rem;
        height: 3rem;
        margin: 0.5rem 0.5rem 0.5rem 1;
        width: 4.5rem;
    }
}

@media (max-width:600px) {
    .container-search {
        align-items: center;
        flex-direction: column;
    }

    h4 {
        font-size: 1.6rem;
        margin: 2rem 1.5rem;
    }
    .search {
        width: 28rem;
    }
    .button {
        font-size: 1.7rem;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 14rem;
    }

    .transaction {
        padding: 1rem;
        width: 45rem;
    }

    .transaction p {
        font-size: 1.1rem;
    }

    .pagination-ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
    }

    .pagination-btn {
        font-size: 1.7rem;
        height: 3rem;
        margin: 0.4rem 0.4rem 0.4rem 1;
        width: 4rem;
    }

    .graph-transaction {
        min-height: 30rem;
    }    
}

@media (max-width:480px) {
    h4 {
        font-size: 1.4rem;
        margin: 2rem 1.5rem;
    }
    .search {
        width: 25rem;
    }
    .button {
        font-size: 1.7rem;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 12rem;
    }

    .transaction {
        padding: 1rem;
        width: 30rem;
    }

    .transaction p {
        font-size: 0.8rem;
    }

    .pagination-ul {
        margin-left: 1rem;
    }

    .pagination-btn {
        font-size: 1.7rem;
        height: 2.5rem;
        margin: 0.5rem 0.2rem 0.5rem 0.5rem;
        width: 3rem;
    }

    .graph-transaction {
        min-height: 20rem;
    }

    .graph-pie {
        min-height: 5rem;
        width: 25rem;
    }
}

@media (max-width:320px) {
    h4 {
        font-size: 1.4rem;
        margin: 2rem 1.5rem;
    }
    .search {
        width: 24rem;
    }
    .button {
        font-size: 1.7rem;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 12rem;
    }

    .transaction {
        padding: 0.8rem;
        width: 26rem;
    }

    .transaction p {
        font-size: 0.65rem;
    }

    .pagination-ul {
        margin-left: 1rem;
    }

    .pagination-btn {
        font-size: 1.5rem;
        height: 2rem;
        margin: 0.4rem 0.2rem 0.4rem 0.4rem;
        width: 2.5rem;
    }

    .graph-pie {
        width: 20rem;
    }
}